name: Release

on:
  push:
    tags: [ 'v*' ]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build JAR
        run: ./gradlew shadowJar

      - name: Rename JAR file
        run: mv build/libs/mock-data-generator-1.0.0-all.jar build/libs/mock-data-generator-${{ github.ref_name }}.jar

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/mock-data-generator-${{ github.ref_name }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}